@import "tailwindcss";

@font-face {
  font-family: "peyda";
  src: local("PeydaWeb-Regular"),
    url("../assets/fonts/PeydaWeb-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "peyda";
  src: local("PeydaWeb-Medium"),
    url("../assets/fonts/PeydaWeb-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "peyda";
  src: local("PeydaWeb-SemiBold"),
    url("../assets/fonts/PeydaWeb-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "peyda";
  src: local("PeydaWeb-Bold"),
    url("../assets/fonts/PeydaWeb-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "peyda";
  src: local("PeydaWeb-ExtraBold"),
    url("../assets/fonts/PeydaWeb-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "peyda";
  src: local("PeydaWeb-Black"),
    url("../assets/fonts/PeydaWeb-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "shahrzad";
  src: local("shahrzad-medium"),
    url("../assets/fonts/Shahrzad.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  @apply font-Peyda font-semibold;
}

@utility container {
  width: 100%;
  max-width: 1265px;
  padding-inline: 15px;
  margin-inline: auto;

  @variant sm {
    padding-inline: 30px;
  }
  @variant md {
    padding-inline: 50px;
  }
  @variant lg {
    padding-inline: 60px;
  }
  @variant xl {
    padding-inline: 70px;
  }
  @variant 2xl {
    padding-inline: 0px;
  }
}

@theme {
  /* font */
  --font-Peyda: "peyda", sans-serif;
  --font-shahrzad: "shahrzad";
  /* colors */
  --color-smoky-white: #f5f5f5;
  --color-sec-smoky-white: #e6e6e6;
  --color-dark-smoky: #cbc9d1;
  --color-paragraph: #00000080;
  --color-main-Purple: #6147a8;
  --color-very-light-purple: #f7f5ff;
  --color-light-purple: #6147a82e;
  --color-pastel-purple: #e3deef;
  /* shadow */
  --shadow-header: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  /* text shadow */
  --shadow-hero-shadow: 0px 4px 4px rgba(132, 92, 250, 0.8);
  /* animation */
  --animate-logo-slide: slide 15s linear infinite;
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}
@layer utilities {
  .dir-ltr {
    direction: ltr !important;
  }
  
  .force-hidden {
    display: none !important;
  }

  .logos-swiper .logo-swiper-wrapper {
    transition-timing-function: linear !important;
  }
}
